.idea/
.vscode/
__pycache__/
*.py[cod]
build/
_build/
dist/
site/
wheels/
lib/
downloads/
*.egg
.coverage
.pytest_cache
.venv
venv/
dev/
*.log
celerybeat*
old/
.docker/config_table.json
.docker/.env
server/